<a href="https://colab.research.google.com/github/sabinamunoz/lab-inferential-statistics-anova/blob/master/lab_inferential_statistics_anova.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **1.Null hypothesis**
* H0: equal etching rate means for all power levels
#### **Alternative hypothesis**
* Ha: at least one different etching rate mean of power levels

#### **Significance level**
* 0.05

#### **DoF**
* model DoF: 2
* error: 12
* total: 14

#### **2. ANOVA**

In [ ]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [ ]:
df = pd.read_excel('files_for_lab/anova_lab_data.xlsx', sheet_name='data_collected')
df.columns = df.columns.str.lower().str.replace(' ', '_')
df

   power_  etching_rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [ ]:
model = ols('etching_rate ~ C(power_ 	)', data=df).fit()
sm.stats.anova_lm(model)

             df     sum_sq   mean_sq          F    PR(>F)
C(power_)   2.0  18.176653  9.088327  36.878955  0.000008
Residual   12.0   2.957240  0.246437        NaN       NaN

## **Conclusion**

#### P-value 0.000008 is below significance level of 0.05
* Null hypothesis rejected, at least one power level produces a different mean etching rate